@using GrowthHub.Shared.Components;

@page "/"

<PageTitle>The Growth Hub</PageTitle>

<h1>The Growth Hub</h1>

<h3>What do you want to learn today?</h3>

<input placeholder="Search" />

<Subject Title="UX Design" IconURL="https://cdn-icons-png.flaticon.com/512/2620/2620971.png"></Subject>

@*<ul>
    @foreach (var subject in subjects)
        {
        <li>@subject.Title</li>
        }
</ul>*@

@code
{

}

@*{
    private List<Subject> subjects = new();

 }*@




