@using GrowthHub.Shared.Components;

@page "/"

<PageTitle>The Growth Hub</PageTitle>

<h1>The Growth Hub</h1>

<h3>What do you want to learn today?</h3>

<div>
    <input placeholder="Search" />
    <button>Search</button>
</div>

<Subject Title="UX Design" IconURL="https://cdn-icons-png.flaticon.com/512/2620/2620971.png"></Subject>

@*<ul> //div container
    @foreach (var subject in subjects)
        {
        <li>@subject.Title</li> //subject component
        }
</ul>*@

@code
{

}

@*{
    private List<Subject> subjects = new();

 }*@




